/*  MICROTHEMER STYLES  */


/*= Geral ===================== */

/** Geral >> Post 7 uagb rm price **/
#post-7 .uagb-rm__price {
	color: rgb(11, 2, 2) !important;
}

/** Geral >> Uagb rm image ls is cached **/
.uagb-rm__image > .ls-is-cached {
	width: 250px !important;
}

/** Geral >> Post 7 uagb rm title **/
#post-7 .uagb-rm__title {
	
}


/*( Celular )*/
@media (max-width: 480px) {

	/*= Geral ===================== */

	/** Geral >> Post 7 uagb rm title **/
	#post-7 .uagb-rm__title {
	width: 180px !important;
}


}

